.image-preview {
  width: 100px;
  height: 70px;
}

.trains-preview {
  width: 200px;
  height: 140px;
}

.train-picture {
  width: 300px;
  height: 200px;
}

body {
  background-image: url("/static/images/thomas.jpg"), url("/static/images/thomas.jpg");
  background-position: left top, right top;
  background-repeat: repeat-y, repeat-y;
  background-attachment: fixed, fixed;
}

.container {
  background-color: white;
}

.inner-container {
  background-color: white;
  height: 100vh;
}


