{% extends "main.html" %}
{% include "header.html" %}

{% block content %}
<p>Create a new set</p>
  <form method="post">
    <div>
      <label>Name:
        <input type="text" name="set_name" placeholder="Name of the set">
      </label>
    </div>

    <div>
      <label>Pieces:
        <input type="text" name="pieces" placeholder="Number of pieces">
      </label>
    </div>

    <div>
      <label>Set Number:
        <input type="text" name="set_id" placeholder="Set Identification Number">
      </label>
    </div>

    <div>
      <label>Description:
        <textarea name="description" placeholder="Description of the set"></textarea>
      </label>
    </div>

    <div>
      <label>Upload Picture:
        <input type="file" name="set_picture" size="40">
      </label>
    </div>

    <div>
      <label>Category:
        <select name="category_name">
          {% for category in categories %}
            {% if category.category_name == selectedCategory %}
              <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
            {% else %}
              <option value="{{category.category_name}}">{{category.category_name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </label>
    </div>
    <input type="Submit" value="Create">
    <a href="#">Cancel</a>
  </form>
{% endblock %}

