{% extends "main.html" %}
{% include "header.html" %}

{% block content %}
  <h2>Delete {{trainToDelete.character_name}}?</h2>

  {% if trainToDelete.character_picture %}
    <div class="row">
      <div class="col-md-12">
        <img class="train-picture" src="{{trainToDelete.character_picture}}">
      </div>
    </div>
  {% endif %}

  <div class="delete-form">
    <form action="#" method="post">
      <button class="btn btn-primary" type="Submit">Delete</button>
      <a href="{{url_for('showCatalog')}}">Cancel</a>
  </form>
  </div>
{% endblock %}
