{% extends "main.html" %}
{% include "header.html" %}

{% block content %}
  <h3>Edit {{lego_set.set_name}}</h3>

  <form action="#" method="post">
    <div>
      <label>Name:
        <input type="text" name="set_name" placeholder="{{lego_set.set_name}}">
      </label>
    </div>

    <div>
      <label>Pieces:
        <input type="text" name="pieces" placeholder="{{lego_set.pieces}}">
      </label>
    </div>

    <div>
      <label>Set Number:
        <input type="text" name="set_id" placeholder="{{lego_set.set_id}}">
      </label>
    </div>

    <div>
      <label>Description:
        <textarea name="description" placeholder="{{lego_set.description}}"></textarea>
      </label>
    </div>

    <div>
      <label>Category:
        <select name="categoryName">
          {% for category in categories %}
            {% if category.category_name == lego_set.categoryName%}
              <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
            {% else %}
              <option value="{{category.category_name}}">{{category.category_name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </label>
    </div>

    <input type="Submit" value="Edit">
    <a href="#">Cancel</a>
  </form>
{% endblock %}
