<div class="container">
  <div class="row page-header">
    <div class="col-md-3">
      <a href="{{url_for('showCatalog')}}"><button>Home</button></a>
    </div>

    <div class="col-md-6 text-center">
      <h2>Thomas & Friends Database</h2>
    </div>

    <div class="col-md-3 text-right">
      {% if 'username' not in session %}
        <a href="{{url_for('showLogin')}}">Click Here to Login</a>
      {% else %}
        <a href="{{url_for('disconnect')}}">Logout</a>
      {% endif %}
    </div>
  </div>
</div>
