{% extends "main.html" %}
{% include "header.html" %}

{% block content %}
<div class="inner-container">
  <h1>New Train</h1>
  <form action="#" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input class="form-control" type="text" name="character_name" placeholder="Name of train">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" name="description" placeholder="Description of train"></textarea>
    </div>

    <div class="form-group">
      <label for="picture">Picture (URL):</label>
      <input class="form-control" type="text" name="character_picture" placeholder="URL for train picture">
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <select class="form-control" name="character_kind">
        {% for train_kind in inventory %}
          <option>{{train_kind.type_name}}</option>>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="Submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
